*{
margin:0 ;
padding:0 ;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
header{
margin-top: 20px;
position: fixed;
top: 0;
width: 100%;
padding: 1rem 9%;
background-color: transparent;
filter: drop-shadow(10px);
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.logo{
font-size: 3rem;
color:red;
font-weight: 800;
cursor: pointer;
transition:  0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
font-size: 1.8rem;
color: white;
margin-left: 4rem;
font-weight: 500;
transition: 0.3 ease;
border-bottom: 3px solid transparent;
}
nav a:hover

{
color: red;
border-bottom: 3px solid red;
}
nav.active{
    display: block;
}
@media(max-width:995px){
    
}
nav{
position: absolute;
top: 100%;
right: 0;
width: 40%;
border-left: 3px solid red;
border-bottom: 3px solid red;
border-bottom-left-radius: 2rem;
padding: 1rem solid ;
background-color:black ;
border-top: 0.1rem solid black;
}
nav.active{
    display: block;
}
nav a{
display: block;
font-size:2rem ;
margin: 3rem;
}
nav a:hover
{
padding: 1rem;
border-radius: 0.5rem;
border-bottom: 0.5 solid red;
}
section{
min-height: 100vh;
padding:5rem 9% 5rem ;
}
.home{
display: flex;
justify-content: center;
align-items: center;
gap: 8rem;
background-color:black;
}
.h1{
text-align: center;


}




