*{
padding: 0%;
margin: 0%;

}
body{
background-color: lightgray;

}




#nav{
display: flex;
justify-content: space-between;
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
 padding: 10px;
 }

 .mybtn,.mybtn1{
margin: 5px;
height: 30px;
background-color: red ;
width: 70px;
font-size: medium;
transition: all 0.3s ease;
}
.mybtn:hover{
background-color: rgb(157, 7, 7);
transform: scaleX(1.05);
}
.mybtn1:hover{

background-color: rgb(157, 7, 7);
transform: scaleX(1.05);


}



.saman{
margin: 30px;
display: flex;
gap: 20px;
font-size: larger;
letter-spacing: 1px;
align-items: center;
position: static;
margin-left: 0;
flex: 1 1 auto;
justify-content: center;


}
.h3{
margin: 10px;
display: flex;
align-items: center;
gap: 10px;
font-size: x-large;

}
.saman1{
display: flex;
gap: 10px;
justify-content: center;
align-items: center;

}
.h3 img{
width: 80px;
height: 80px;
border-radius: 80px;

}
.saman a{
    text-decoration: none;
    
}
.saman a:hover{
text-decoration: underline;


}
.class{
background-color: red;
transition: all 0.3s ease;

}
.class:hover{

  background-color: rgb(157, 7, 7);
transform: scaleX(1.05);

}

.box button{

 padding: 5px 15px;  
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer

}




.box>input{
font-size: 16px;
padding: 5px 15px;
border: 1px solid #ccc;

    border-radius: 5px;



}
.h2{
justify-content: center;
align-items: center;
font-size: 30px;
display: flex;
padding-top: 200px;
flex-direction: column;
padding-bottom: 100px;


}
.full{
height: auto;
width: 100%;
display: flex;
gap: 50px;
margin: auto;

justify-content: space-around;
}
.para{
font-size: large;

}


.div4:hover{
transform: scale(1.02) ;
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);

}


.div4{
height: 100%;
width: 300px;
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);

border-radius: 10px;

text-align: center;
transition:all 0.3s ease ;
position: relative;

}
.div2{
height:  100%;
width:300px;
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);

border-radius: 10px ;
font-size: 30px;
text-align: center;
transition:all 0.3s ease ;
position: relative;

}
.div3{
height: 100% ;
width: 300px;
border-radius: 10px;
transition:all 0.3s ease ;
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
text-align: center;
position: relative;


}
.image1>img{
height: 250px; ;
width: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
overflow: hidden;



}
.image2>img{
height: 250px;
width: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
overflow: hidden;


} 
.image3>img{
height: 250px ;
width: 100%;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
overflow: hidden;

}
.pull{
height: auto;
width: 100%;
display: flex;
gap: 50px;
margin-top: 80px;
justify-content: space-around;
}
.parag{
font-size: small;
text-align:start ;
}

.button{
   color: white;
   
   border-radius: 1px solid;
   height: 50px;
  align-items: start;
  width: 100px;
  height: 200px;
}
.nisar{
background-color: #161616;
color: white;
 width: 100px;
  height: 50px;
  margin: 20px;
  text-align: start;
  justify-content: right;
border: 1px solid rgb(222, 221, 221);

}

.div3:hover{
transform: scale(1.02) ;
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}
.div2:hover{
transform: scale(1.02) ;
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}
.nisar{
    
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 700;
    transition: 0.3s ease;
    cursor: pointer;

    
    margin-right: 270px;

    
}
.nisar:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}
.sabir{
margin-top: 20px;
}
.application{

    font-size: large;
}
.carousel-item{
width: 100%;
}


.carousel-item img {
  
width: 100%;

height: 100%;
}
.shoes{
padding: 20px;
align-items: center;
text-align: center;
justify-content: center;
}
.del{
display: flex;
text-align: center;
justify-content: center;
font-size: medium;
gap: 10px;
letter-spacing: -1px;
}
.my{

margin: 10px;
height: 30px;
background-color: red ;
width: 90px;
font-size: medium;
transition: width 0.3s ease;
transform-origin: left;
border-radius: 20px;
}


.my:hover{

background-color: rgb(157, 7, 7);
width: 100px;
color: white;
}
.nk{
width: 100%;
height: auto;
display: flex;
justify-content: space-around;
}
.n{
width: 20%;
height: auto;
font-size: larger;
text-align: center;
border-radius: 20px;
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
transition: all 0.3s ease;
}
.n>img{
height: 70%;
width: 100%;
border-radius: 20px;


}
.n:hover{
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
cursor: pointer;
transform: scale(1.02) ;

}
.footer{
border: 1px solid black;
height: auto;
width: 100%;
background-color: #111;
justify-content: space-around;
display: flex;
color: white;
flex-wrap: wrap;
padding: 40px 20px;
margin-top: 3rem;


}








.contact,.Information,.About,.contant{
width: auto;
height: 100%;
justify-content: space-around;
padding-top: 20px;
}
.watsapp{
z-index: 9999;
height: 80px;
width: 80px;
position: fixed;
top: 20%;
right: 20px;
transition: all 0.3s ease;
}
.watsapp:hover{

transform: scale(1.1);
}
.contant img{
  margin-right: 10px;
cursor: pointer;

}
.sale{
width: 40px;
height: 40px;
position:absolute ;
right: 10px;
top: 10px;

}
.full,.pull{
justify-content: center;
flex-wrap: wrap;
display: flex;
height: auto;
gap: 40px;
align-items: center;
}
.mobile-nav{
display: none;

}




@media (max-width: 768px) {



    .saman1 {
        display: flex !important;
        justify-content: center;
        gap: 10px;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1;
        box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
        position: sticky;
        top: 0;
        z-index: 9999;
margin-left: 60px;
    }

    .hamburger {
        font-size: 30px;
        background: none;
        border: none;
        color:grey;
        cursor: pointer;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        background: #222;
        padding: 15px;
        gap: 10px;
    }

    .mobile-menu a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 8px;
        border-bottom: 1px solid #555;
    }

    .mobile-menu.show {
        display: flex;
    }







    .saman {
        display: none;
    }

    .saman a {
        font-size: 18px;
    }

    .saman1 {
        flex-direction: column;
        gap: 10px;
    }

    
    .nk {
        display: flex;
        gap: 20px;
        padding: 0 20px;
        width: 100%;
        height: 100%;
    }

    .n {
        width: 100%;
    }

    .full, .pull {
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }

    .div2, .div3, .div4 {
        width: 100%;
        max-width: 350px;
    }

    .carousel-item img {
        height: 250px;
        object-fit: cover;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .watsapp {
        height: 60px;
        width: 60px;
        right: 10px;
        bottom: 20px;
        top: auto;
    }




    h1, h2 {
        font-size: 22px;
    }

    .box input {
        display: none;
    }

    .box button {
      display: none;
    }

    .mybtn, .mybtn1 {
        width: 100px;


    }

    .div2, .div3, .div4 {
        max-width: 320px;
    }
.contact{
  display: none;
}




  }

